.greeting {
  margin-top: 240px;
}
.greeting__title {
  font-weight: 700;
  line-height: 75px;
  font-size: 60px;
  max-width: 1110px;
  margin: 0 auto 110px;
  &--yellow {
    color: $textOrangeColor;
  }
}
.greeting__img {
  max-width: 1800px;
  max-height: 768px;
  display: block;
  margin: 0 auto;
}
.few-words,
.about-team,
.about-services{
  position: relative;
  margin-bottom: 225px;
  &:before {
    content: "01.";
    position: absolute;
    left: -40px;
    top: 30px;
    font-weight: 700;
    font-size: 300px;
    color: rgba(242,242,242,0.6);
  }
}

.few-words__inner {
  margin-top: 223px;
  display: flex;
  justify-content: space-between;

}
.about__title {
  position: relative;
  font-weight: 700;
  font-size: 38px;
  line-height: 50px;
  max-width: 275px;
  &:before {
    content: "";
    position: absolute;
    width: 70px;
    height: 2px;
    top: 20px;
    left: -120px;
    background-color: $mainOrangeColor;
  }
}
.few-words__text-block {
  max-width: 823px;
  font-family: "Work Sans", sans-serif;
  color: #767676;
}
.few-words__text {
  font-size: 25px;
  line-height: 40px;
  display: block;
  margin-bottom: 50px;
}
.few-words__quote {
  max-width: 540px;
  position: relative;
  margin-top: 100px;
  &:before {
    content: "”";
    color: $mainOrangeColor;
    font-size: 100px;
    position: absolute;
    left: -65px;
    top: -15px;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
  }
}
.about-team {
  &:before {
    content: "02.";
  }
}
.about__title {
  font-size: 38px;
  line-height: 50px;
  max-width: 275px;
  font-weight: 700;
  margin-bottom: 100px;
  &:before {
    content: "";
    position: absolute;
    width: 70px;
    height: 2px;
    top: 20px;
    left: -120px;
    background-color: $mainOrangeColor;
  }
}
.about-team__items {
  display: grid;
  grid-gap: 30px;
  grid-template: 530px 530px / 1fr 1fr 1fr;
}

.about-team__item {
  max-width: 350px;
  width: 100%;
  height: 530px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &:hover .about-team__item-inner {
    opacity: 1;
    visibility: visible;
  }
}
.about-team__item-inner {
  position: relative;
  height: 100%;
  width: 100%;
  border: 4px solid $mainOrangeColor;
  padding: 50px 40px;
  background-color: $mainDarkColor;
  transition: all 0.5s linear;
  opacity: 0;
  visibility: hidden;
}
.about-team__item-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 20px;
}
.about-team__item-subtitle {
  font-family: "Work Sans", sans-serif;
  line-height: 26px;
  color: #fff;
}
.about-team__item-social {
  position: absolute;
  left: 40px;
  bottom: 50px;
}
.about__resume {
  border: 1px solid #fff;
  transition: all 0.5s;
  &:hover {
    border-color: $mainOrangeColor;
    background-color: $mainOrangeColor;
    p {
      color: $mainDarkColor;
    }
  }
}
.about-team__item-link {
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    max-width: 150px;
  }
}
.about-services {
  margin-bottom: 100px;
  &:before {
    content: "03.";
  }
}
.about-services__items {
  display: flex;
  justify-content: space-between;
}
.about-services__item {
  max-width: 325px;
  width: 100%;
  &:hover .about-services__item-link {
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
  }
}
.about-services__item-link {
  transform: translateX(-135px);
  visibility: hidden;
  opacity: 0;
  transition: all 0.75s;
}
.lnr {
  width:  60px;
  height: 42px;
  fill: #fff;
  margin-bottom: 17px;
}
.about-services__item-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 69px;
  margin-bottom: 30px;
}
.about-services__item-text {
  font-family: "Work Sans", sans-serif;
  line-height: 26px;
  margin-bottom: 50px;
}