.header {
  position: absolute;
  top: 23px;
  left: 0;
  width: 100%;
  z-index: 999;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  margin-right: auto;
  margin-left: 270px;
}
.header__nav.show {
  position: absolute;
  display: block;
  top: 92px;
  left: 0;
  margin: 0;
  width: 100%;
  z-index: 9999;
  .header__links li{
    display: flex;
    width: 100%;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid $mainGrayColor;
    &:first-child{
      border-top: 1px solid $mainGrayColor;
    }
    a{
      width: 100%;
      text-align: center;
    }
  }
}

.header__links {
  font-family: "Gilroy", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  li:not(:last-child) {
    margin-right: 50px;
  }

}
.header__link {
  color: #fff;
  text-transform: uppercase;
  transition: color .5s;
  &:hover {
    color: $mainOrangeColor;
  }
  &.active {
    color: $mainOrangeColor;
  }
}
.header__social li:not(:last-child) {
  margin-right: 25px;
}
.header__social-link {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  transition: color .5s;
  &:hover {
    color: $mainOrangeColor;
  }
}
.header__btn-menu {
  position: relative;
  display: none;
  background-color: transparent;
  border: none;
  width: 50px;
  height: 25px;
  outline: none;
  & div {
    visibility: visible;
    background-color: #ffffff;
    height: 5px;
    width: 100%;
    transition: transform 1s, opacity 0.5s 1s;
    opacity: 1;
  }

}

.header__btn-menu.clicked{
  height: 65px;
  transition: transform 1s, opacity 0.5s 1s;
  & div {
    position: absolute;
    top: 32px;
    height: 3px;
  }
  & div:nth-child(2){
    opacity: 0;
    visibility: hidden;
  }
  & div:nth-child(1){
    transform: rotate(48deg);
  }
  & div:nth-child(3){
    transform: rotate(-48deg);
  }
}