.main-slider__container {
  height: 100vh;
  width: 100%;
}

.main-slider__slide {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-slider__slide-name {
  position: absolute;
  top: 50px;
  text-transform: uppercase;
  transform: rotate(-90deg);
  font-size: 16px;
  color: #fff;
  left: -9999px;
  width: 110px;
  font-weight: 400;
  font-family: "Open sans", sans-serif;

}

//introduce block start
.introduce__text-block {
  margin-left: 400px;
  color: #fff;
  margin-top: 300px;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    background-color: $mainOrangeColor;
    left: 5px;
    bottom: -100px;
  }
}

.introduce__welcome {
  font-family: "Open sans", sans-serif;
  line-height: 26px;
  padding-left: 5px;
  opacity: 0;
  margin-bottom: 20px;
}

.introduce__title {
  font-weight: 700;
  font-size: 90px;
  line-height: 105px;

  span {
    opacity: 0;
    display: block;
  }
}

.swiper-pagination-bullet {
  background-color: #fff;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: $mainOrangeColor;
}

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 25px;
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 24px 0;
}


//introduce block end
//services block start
.services {
  background-color: #272727;
}

.services__inner {
  max-width: 1110px;
  margin: 300px 30px 0 400px;
  display: flex;
  justify-content: space-between;
}

.services__count {
  position: relative;
}

.services__count-number, .services__count-plus {
  font-weight: 700;
  color: $textOrangeColor;
  font-size: 170px;
}

.services__count-plus {
  position: absolute;
  font-size: 80px;
  top: -15px;
  right: -40px;
}

.services__experience-text {
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  line-height: 35px;

  span {
    display: block;
  }
}

.services__title {
  font-size: 48px;
  font-weight: 700;
  opacity: 0;
  line-height: 69px;
  color: #fff;
  margin-bottom: 37px;
}

.services__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 727px;
  width: 100%;
}

.services__item {
  max-width: 327px;
  width: 100%;
  margin-bottom: 35px;

  &:hover .services__item-more {
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
  }
}

.services__item-title {
  font-size: 25px;
  line-height: 69px;
  color: #fff;
}

.services__item-text {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: $mainGrayColor;
  margin-bottom: 15px
}

.services__item-more {
  transform: translateX(-135px);
  visibility: hidden;
  opacity: 0;
  transition: all 0.75s;
}

.services__item-link {
  color: $textOrangeColor;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  position: relative;


  &:after {
    content: "";
    background-image: url("../img/main/arrow.png");
    position: absolute;
    width: 12px;
    height: 20px;
    top: -2px;
    right: -35px;
    opacity: 1;
  }
}

//services block end
//works block start
.works-slider__wrapper {
  height: 100vh;
  width: 100%;
}

.works-slider__slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.slide-name--without-container {
  z-index: 2;
  top: 300px;
  transition: all 0.5s;
}
.main-slider__featured-works {
  position: absolute;
  left: 0;
  top: 270px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-size: 25px;
  line-height: 26px;
  font-weight: 700;
  color: #fff;
  z-index: 2;
  opacity: 0;
  transition: all 2s;
}
.works-slider__slide-inner {
  margin-top: 340px;
}
.works-slider__slide-text {
  margin-left: 404px;
}
.works-slider__slide-title {
  font-weight: 700;
  font-size: 90px;
  line-height: 105px;
  color: #fff;
  margin-bottom: 58px;
  max-width: 100%;
  & span{
   display: block;
  }
}
.works-slider__slide-description {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 65px;
  max-width: 321px;
  color: #ccc;
}
.swiper-button-next {
  right: 260px;
  color: #ffffff;
}
.swiper-button-prev {
  left: 260px;
  color: #ffffff;
}

//works block end

//active slide animation
.main-slider__slide.activated {
  .main-slider__slide-name {
    animation: fromLeft 0.5s 0s forwards;
  }

  .introduce__welcome,
  .services__title {
    animation: uprise 0.5s 0.5s forwards;
  }

  .introduce__title--first {
    animation: uprise 0.5s 1s forwards;
  }

  .introduce__title--second {
    animation: uprise 0.5s 1.5s forwards;
  }

  .introduce__title--third {
    animation: uprise 0.5s 2s forwards;
  }

  .introduce__text-block {
    &:after {
      animation: stretchOut 1s 2.5s forwards;
    }
  }

  .slide-name--without-container {
    left: -30px;
    animation: none;
  }
  .main-slider__featured-works {
    opacity: 1;
  }
}

@keyframes uprise {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes stretchOut {
  from {
    width: 0;
  }
  to {
    width: 134px;
  }
}

@keyframes fromLeft {
  from {
    left: -9999px;
  }
  to {
    left: -30px;
  }
}
