@media (max-width: 1550px) {
  .services__inner {
    margin: 300px auto 0 auto;
    max-width: 950px;
  }
  .swiper-container {
    overflow-y: auto;
  }
}

@media (max-width: 1350px) {
  .swiper-button-next {
    right: 130px;
  }
}
@media (max-width: 1200px) {
  .news__inner {
    max-width: 800px;
  }
  .news__items {
    flex-wrap: wrap;
    //place-content: center;
  }
  .news__item {
    margin-right: 10px;
    margin-bottom: 30px;
  }
}

@media (max-width: 1120px) {
  .header {
    top: 0;
    padding: 11px 0;
    transition: background-color 1s;
  }
  .header.btn-clicked {
    background-color: #272727;
  }
  .header__nav {
    position: absolute;
    height: 0;
    top: 80px;
    left: 0;
    margin: 0;
    width: 100%;
    z-index: 9999;

    .header__links li {
      display: flex;
      width: 100%;
      align-items: center;
      height: 50px;
      border-bottom: 1px solid $mainGrayColor;

      &:first-child {
        border-top: 1px solid $mainGrayColor;
      }

      a {
        height: 100%;
        width: 100%;
        line-height: 50px;
        text-align: center;
      }
    }
  }
  .header__nav.show {
    height: auto;
  }
  .header__links {
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s, background-color 1s;
  }
  .header__nav.show .header__links {
    background-color: #272727;
    transform: scaleY(1);
  }
  .header__btn-menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .introduce__text-block {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 150px;
  }
  .main-slider__slide-name {
    font-size: 13px;
  }
  .services__inner {
    margin-top: 150px;
    margin-left: 120px;
  }
  .services__experience {
    margin-right: 100px;
  }
  .services__items {
    flex-direction: column;
    align-items: center;
  }
  .services__item-title {
    text-align: center;
  }
  .services__count {
    width: 160px;
  }
  .inner-slider__slide-text {
    margin: 0 auto;
    max-width: 625px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  .testimonials__title {
    text-align: center;
}
  .main-slider__slide-name {
    top: 85px;
  }
}

@media (max-width: 700px) {
  .main-slider__container {
  }
  .main-slider__slide {
    height: auto;
  }
  .introduce__text-block {
    margin-top: 50%;
  }
  .title {
    font-size: 35px;
    line-height: 55px;
  }
  .introduce__text-block:after {
    bottom: -55px;
  }
  .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
  }
  .swiper-container-vertical > .swiper-pagination-bullets {
    display: none;
  }
  .services__inner {
    flex-direction: column;
    margin: 50px auto;
    text-align: center;
    align-items: center;
  }
  .services__experience {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .services__count-number {
    font-size: 115px;
  }
  .services__count-plus {
    font-size: 55px;
    top: 0;
    right: 0;
  }
  .services__experience-text {
    font-size: 15px;
    line-height: 25px;
  }
  .main-slider__featured-works,
  .main-slider__team{
    font-size: 18px;
  }
  .inner-slider__slide-title {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 25px;
  }
  .main-slider__slide.activated .slide-name--without-container {
    top: 100px;
  }
  .inner-slider__slide-text {
    max-width: 200px;
    text-align: center;
  }
  .inner-slider__slide-inner {
    margin-top: 170px;
  }
  .main-slider__title {
    top: 60px;
  }
  .testimonials__inner {
    margin-top: 85px;
  }
  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
    width: 10px;
    height: 10px;
  }
  .testimonials__clients {
    flex-wrap: wrap;
    img{
      margin-bottom: 10px;
    }
  }
  .team__name span {
    display: inline-block;
    font-weight: 400;
    font-size: 19px;
    line-height: 45px;
  }
  .news__inner {
    margin-top: 100px;
  }
  .news__title-block {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .news__title {
    margin-bottom: 30px;
  }
}

@media (max-width: 420px) {
  .header__social {
    display: none;
  }
}

@media (min-width: 700px) {
  .main-slider__container {

  }
}