@media (max-width: 1900px) {
  .few-words:before,
  .about-team:before,
  .about-services:before {
    display: none;
  }
}

@media (max-width: 1550px) {
  .services__inner {
    margin: 300px auto 0 auto;
    max-width: 950px;
  }
  .swiper-container {
  }
}

@media (max-width: 1350px) {
  .swiper-button-next {
    right: 130px;
  }
}

@media (max-width: 1200px) {
  .news__inner {
    max-width: 800px;
  }
  .news__items {
    flex-wrap: wrap;
    place-content: center;
  }
  .news__item {
    margin-right: 10px;
    margin-bottom: 30px;
  }
  .contacts__inner {
    flex-direction: column;
    align-items: center;
  }
  .main-slider__slide {
    height: auto;
  }
  .introduce,
  .contacts {
    padding-bottom: 150px;
  }
  .testimonials {
    padding-bottom: 50px;
  }
  .few-words__inner {
    flex-direction: column;
    align-items: center;
  }
  .about__title,
  .title{
    text-align: center;
    margin: 0 auto 100px;
  }
  .few-words__quote {
    margin: 100px auto 0;
  }
  .about-services__items {
    flex-wrap: wrap;
    justify-content: space-around;
  }

}

@media (max-width: 1120px) {

  .header {
    top: 0;
    padding: 11px 0;
    transition: background-color 1s;
  }
  .header.btn-clicked {
    background-color: #272727;
  }
  .header__nav {
    position: absolute;
    height: 0;
    top: 80px;
    left: 0;
    margin: 0;
    width: 100%;
    z-index: 9999;

    .header__links li {
      display: flex;
      width: 100%;
      align-items: center;
      height: 50px;
      border-bottom: 1px solid $mainGrayColor;

      &:first-child {
        border-top: 1px solid $mainGrayColor;
      }

      a {
        height: 100%;
        width: 100%;
        line-height: 50px;
        text-align: center;
      }
    }
  }
  .header__nav.show {
    height: auto;
  }
  .header__links {
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s, background-color 1s;
  }
  .header__nav.show .header__links {
    background-color: #272727;
    transform: scaleY(1);
  }
  .header__btn-menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .footer__inner {
    padding: 40px 0;
  }
  .footer__items{
   flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .footer__item:not(:first-child) {
    margin-bottom: 50px;
  }
  .introduce__text-block {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 150px;
  }
  .main-slider__slide-name {
    font-size: 13px;
  }
  .services__inner {
    margin-top: 150px;
    margin-left: 120px;
  }
  .services__experience {
    margin-right: 100px;
  }
  .services__items {
    flex-direction: column;
    align-items: center;
  }
  .services__item-title {
    text-align: center;
  }
  .services__count {
    width: 160px;
  }
  .inner-slider__slide-text {
    margin: 0 auto;
    max-width: 625px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  .testimonials__title {
    text-align: center;
  }
  .main-slider__slide-name {
    top: 85px;
  }
  .testimonials__slide-name {
    top: 45px;
  }
  .about-team__items {
    grid-template: 530px 530px 530px/ 350px 350px;
    justify-content: center;
  }
  .projects .inner-container {
    text-align: center;
  }
  .news-detail__related-items {
    flex-direction: column;
  }
  .related-item:not(:last-child) {
    margin-bottom: 20px;
  }
  .news-detail__images {
    grid-template-rows: 302px 302px 302px;
    grid-template-columns: auto;
  }
  .news-detail__img--third {
    grid-column: auto;
  }

}

@media (max-width: 729px) {
  .news__item {
    margin-right: 0;
  }
  .about-team__items {
    grid-template: 530px 530px 530px 530px/ 290px;
  }
}

@media (max-width: 700px) {
  .main-slider__container {
  }

  .introduce__text-block {
    margin-top: 50%;
  }
  .title {
    font-size: 35px;
    line-height: 55px;
  }
  .introduce__text-block:after {
    bottom: -55px;
  }
  .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
  }
  .swiper-container-vertical > .swiper-pagination-bullets {
    display: none;
  }
  .services__inner {
    flex-direction: column;
    margin: 50px auto;
    text-align: center;
    align-items: center;
  }
  .services__experience {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .services__count-number {
    font-size: 115px;
  }
  .services__count-plus {
    font-size: 55px;
    top: 0;
    right: 0;
  }
  .services__experience-text {
    font-size: 15px;
    line-height: 25px;
  }
  .main-slider__featured-works,
  .main-slider__team {
    font-size: 18px;
  }
  .inner-slider__slide-title {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 25px;
  }
  .main-slider__slide.activated .slide-name--without-container {
    top: 100px;
  }
  .inner-slider__slide-text {
    max-width: 200px;
    text-align: center;
  }
  .inner-slider__slide-inner {
    margin-top: 170px;
  }
  .main-slider__title {
    top: 60px;
  }
  .testimonials__inner {
    margin-top: 85px;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
    width: 10px;
    height: 10px;
  }
  .testimonials__clients {
    flex-wrap: wrap;

    img {
      margin-bottom: 10px;
    }
  }
  .team__name span {
    display: inline-block;
    font-weight: 400;
    font-size: 19px;
    line-height: 45px;
  }
  .news__inner {
    margin-top: 100px;
  }
  .news__title-block {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .news__title {
    margin-bottom: 30px;
  }
  .contacts__inner {
    margin-top: 100px;
    text-align: center;
  }
  .contacts__slide-name {
    top: 125px;
  }
  .greeting {
    margin-top: 150px;
  }
  .greeting__title {
    line-height: 35px;
    font-size: 33px;
    margin-bottom: 20px;
  }
  .few-words__inner {
    margin-top: 100px;
    text-align: center;

  }
  .about__title,
  .title{
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 20px;
  }
  .few-words {
    margin-bottom: 100px;
  }
  .few-words__text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .few-words__quote {
    font-size: 14px;
    margin-top: 40px;

    &:before {
      left: 5px;
      top: 20px;
      font-size: 65px;
    }
  }
  .about-team {
    margin-bottom: 100px;
  }
  .about-services__item {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  .about-services__item-title {
    font-size: 22px;
  }
  .about-services__item-text {
    font-size: 13px;
  }
  .projects {
    margin-top: 150px;
  }
  .projects__title {
    line-height: 38px;
    font-size: 36px;
    margin-bottom: 20px;
  }
  .projects__filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .projects__filter-button:not(:last-child) {
    margin-right: 0;
  }
  .projects__filter-button {
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .grid-item__title {
    font-size: 22px;
    line-height: 30px;
  }
  .grid-item__link {
    font-size: 14px;
  }
  .project-detail__swiper-slide {
    height: 430px;
  }
  .project-about {
    margin-bottom: 100px;
    margin-top: 100px;
  }
  .project-about__descr-items {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
  }
  .project-about__descr-item {
    width: fit-content;
    &:not(:last-child){
      margin-bottom: 30px;
    }
  }
  .project-about__employee {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .project-about__employee-quote {
    font-size: 100px;
    line-height: 100px;
  }
  .project-about__employee-name {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .project-about__employee-text {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .project-detail__process-items {
    margin-bottom: 50px;
  }
  .project-detail__process {
    margin-bottom: 50px;
  }
  .project-detail__process-text {
    text-align: center;
    font-size: 20px;
  }
  .news-page {
    margin-top: 150px;
  }
  .news-page__date {
    font-size: 15px;
  }
  .news-page__info-title {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 15px;
  }
  .news-page__text {
    font-size: 14px;
    line-height: 22px;
  }
  .news__item-link {
    bottom: 10px;
    left: 20px;
  }
  .news-detail__head {
    margin-bottom: 70px;
  }
  .news-detail__head-img {
    height: 550px;
  }
  .news-detail__head-title {
    font-size: 38px;
    line-height: 40px;
  }
}

@media (max-width: 420px) {
  .header__social {
    display: none;
  }
  .news__item-text {
    line-height: 22px;
  }
  .main-slider__slide-name {
    display: none;
  }
  .news__item-link {
    bottom: 15px;
  }
  .about__title:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: -5px;
    width: 100%;
    left: 0;
    top: auto;
    background-color: #FBC710;
  }
  .about-team__item-social .social {
    display: block;
  }
  .grid-sizer {
    width: 270px;
  }
  .project-detail__process-img {
    margin-bottom: 100px;
  }
  .process-item {
    text-align: center;
    padding-left: 0;
  }
  .process-item:before {
    top: -50px;
  }
  .news-detail__quote {
    padding: 25px 20px 30px 20px;
  }
  .news-detail__quote-text:before {
    display: none;
  }
  .news-detail__related-head {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .news-detail__related {
    padding-top: 50px;
  }
}

@media (min-width: 700px) {
  .main-slider__container {

  }
}