<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__items">
                <div class="footer__item">
                    <a href="index.html">
                    <img class="footer__logo" src="img/footer-logo.svg" alt="logo">
                    </a>
                </div>
                <div class="footer__item footer__rights">© Larson. 2021
                    All Rights Resevered
                </div>
                <div class="footer__item">
                    <ul class="footer__links">
                        <li>
                            <a class="footer__link" href="#">Карта сайта</a>
                        </li>
                        <li>
                            <a class="footer__link" href="#">Срок и условия</a>
                        </li>
                        <li>
                            <a class="footer__link" href="#">Политика конфиденциальности</a>
                        </li>
                        <li>
                            <a class="footer__link" href="#">Помощь</a>
                        </li>
                        <li>
                            <a class="footer__link" href="#">Партнерская программа</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__item">
                    <ul class="footer__links">
                        <li>
                            <a class="footer__link" href="#">Найти нас</a>
                        </li>
                        <li>
                            <a class="footer__link" href="#">Карьера</a>
                        </li>
                        <li>
                            <a class="footer__link" href="#">О нас</a>
                        </li>
                        <li>
                            <a class="footer__link" href="#">Контакты</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__item">
                    <ul class="footer__links">
                        <li>
                            <a class="footer__link" href="#">RU</a>
                        </li>
                        <li>
                            <a class="footer__link" href="#">EN</a>
                        </li>
                        <li>
                            <a class="footer__link" href="#">GER</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__item">
                    <ul class="footer__social social">
                        <li>
                            <a href="#" class="footer__social-link social-link ion-social-facebook"></a>
                        </li>
                        <li>
                            <a href="#" class="footer__social-link social-link ion-social-twitter"></a>
                        </li>
                        <li>
                            <a href="#" class="footer__social-link social-link ion-social-youtube">
                            </a>
                        </li>
                        <li>
                            <a href="#" class="footer__social-link social-link ion-social-instagram"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>