<header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="header__logo-link" href="index.html">
                <img class="header__logo logo" src="img/logo.png" alt="">
            </a>
            <nav class="header__nav">
                <ul class="header__links">
                    <li><a href="#" class="header__link">home</a></li>
                    <li><a href="#" class="header__link">about</a></li>
                    <li><a href="#" class="header__link">projects</a></li>
                    <li><a href="#" class="header__link">news</a></li>
                    <li><a href="#" class="header__link">contact</a></li>
                </ul>
            </nav>
            <ul class="header__social">
                <li>
                    <a href="#" class="header__social-link ion-social-facebook"></a>
                </li>
                <li>
                    <a href="#" class="header__social-link ion-social-twitter"></a>
                </li>
                <li>
                    <a href="#" class="header__social-link ion-social-youtube">
                    </a>
                </li>
                <li>
                    <a href="#" class="header__social-link ion-social-instagram"></a>
                </li>
            </ul>
        </div>
    </div>
</header>