<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Larson</title>
    <link rel="SHORTCUT ICON" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.min.css">
    <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="content">
        @@include("_header.html")
        <section class="greeting">
            <h1 class="greeting__title">Продуманный <span class="greeting__title--yellow">дизайн</span> в каждой детали
            </h1>
            <div class="container">
                <img class="greeting__img" src="img/about/main-img.jpg" alt="">
            </div>
        </section>
        <section class="few-words">
            <div class="inner-container">
                <div class="few-words__inner">
                    <h3 class="few-words__title about__title">Несколько слов о нас</h3>
                    <div class="few-words__text-block">
                        <p class="few-words__text">
                            Мы начинали небольшой студией из кучки энтузиастов в 2011 году.
                            Нашими основными напралениями были: арихитектура и интерьер внутренних помещений.
                            Мы всегда стремились к идеалу и следовали самым современым тенденциям в нашей сфере
                            , вкупе с профессионализмом и любовью к своему делу это не могло не принести результат.
                        </p>
                        <p class="few-words__text">
                            Сейчас мы являемся большой студией способной сделать под ключ проект любой сложности.
                            Под нашим крылом трудится большое колличество профессионалов, у нас есть свои отделы
                            архитекруты, строительства, дизайна внутренней отделки помещений и интерьера, и даже
                            ландшафтного дизайна.
                        </p>
                        <p class="few-words__quote">
                            Мы стремимся к совершенству в своем деле и вкладываем душу.
                        </p>

                    </div>
                </div>
            </div>
        </section>
        <section class="about-team">
            <div class="inner-container">
                <h3 class="about-team__title about__title">Наша Команда</h3>
                <div class="about-team__items">
                    <div class="about-team__item" style="background-image: url(img/main/team/team-5.jpg)">
                        <div class="about-team__item-inner">
                            <h4 class="about-team__item-title">Ярослав Синицин</h4>
                            <h5 class="about-team__item-subtitle">Архитектор</h5>
                            <div class="about-team__item-social">
                                <ul class="header__social social">
                                    <li>
                                        <a href="#" class="social-link ion-social-facebook"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="social-link ion-social-twitter"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="social-link ion-social-instagram"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="about-team__item" style="background-image: url(img/main/team/team-7.jpg)">
                        <div class="about-team__item-inner">
                            <h4 class="about-team__item-title">Алексей Ковалёв</h4>
                            <h5 class="about-team__item-subtitle">Дизайнер</h5>
                            <div class="about-team__item-social">
                                <ul class="header__social social">
                                    <li>
                                        <a href="#" class="social-link ion-social-facebook"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="social-link ion-social-twitter"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="social-link ion-social-instagram"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="about-team__item" style="background-image: url(img/main/team/team-6.jpg)">
                        <div class="about-team__item-inner">
                            <h4 class="about-team__item-title">Мураб</h4>
                            <h5 class="about-team__item-subtitle">Строитель</h5>
                            <div class="about-team__item-social">
                                <ul class="header__social social">
                                    <li>
                                        <a href="#" class="social-link ion-social-facebook"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="social-link ion-social-twitter"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="social-link ion-social-instagram"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="about-team__item" style="background-image: url(img/main/team/team-1.jpg)">
                        <div class="about-team__item-inner">
                            <h4 class="about-team__item-title">Елена Савченко</h4>
                            <h5 class="about-team__item-subtitle">Дизайнер ландшафта / интерьера</h5>
                            <div class="about-team__item-social">
                                <ul class="header__social social">
                                    <li>
                                        <a href="#" class="social-link ion-social-facebook"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="social-link ion-social-twitter"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="social-link ion-social-instagram"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="about-team__item" style="background-image: url(img/main/team/team-2.jpg)">
                        <div class="about-team__item-inner">
                            <h4 class="about-team__item-title">Анастасия Кудо</h4>
                            <h5 class="about-team__item-subtitle">hr / ceo</h5>
                            <div class="about-team__item-social">
                                <ul class="header__social social">
                                    <li>
                                        <a href="#" class="social-link ion-social-facebook"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="social-link ion-social-twitter"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="social-link ion-social-instagram"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="about-team__item about__resume">
                        <a class="about-team__item-link" href="#">
                            <p>Отправить резюме</p>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-services">
            <div class="inner-container">
                <h3 class="about-services__title about__title">Services</h3>
                <div class="about-services__items">
                    <div class="about-services__item">
                        <svg class="lnr lnr-apartment">
                            <use xlink:href="#lnr-apartment"></use>
                        </svg>
                        <h4 class="about-services__item-title">Apartment</h4>
                        <p class="about-services__item-text">Projects for many large domesProjects for many large
                            domestic and foreign corporations, enterprises in many elds such as nance, banking, F&B,
                            education, communication.tic and foreign corporations, enterprises in many elds such as
                            nance, banking, F&B, education, communication.</p>
                        <a href="#" class="about-services__item-link">Подробнее</a>
                    </div>
                    <div class="about-services__item">
                        <svg class="lnr lnr-home">
                            <use xlink:href="#lnr-home"></use>
                        </svg>
                        <h4 class="about-services__item-title">Apartment</h4>
                        <p class="about-services__item-text">Projects for many large domesProjects for many large
                            domestic and foreign corporations, enterprises in many elds such as nance, banking, F&B,
                            education, communication.tic and foreign corporations, enterprises in many elds such as
                            nance, banking, F&B, education, communication.</p>
                        <a href="#" class="about-services__item-link">Подробнее</a>
                    </div>
                    <div class="about-services__item">
                        <svg class="lnr lnr-leaf">
                            <use xlink:href="#lnr-leaf"></use>
                        </svg>
                        <h4 class="about-services__item-title">Apartment</h4>
                        <p class="about-services__item-text">Projects for many large domesProjects for many large
                            domestic and foreign corporations, enterprises in many elds such as nance, banking, F&B,
                            education, communication.tic and foreign corporations, enterprises in many elds such as
                            nance, banking, F&B, education, communication.</p>
                        <a href="#" class="about-services__item-link">Подробнее</a>
                    </div>
                </div>
            </div>
        </section>

        @@include("_footer.html")
    </div>
</div>
<script src="js/main.min.js"></script>
<script src="js/about.js"></script>
</body>
</html>