<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
@@include("_header.html")
<!-- Slider main container -->
<main class="main">
    <div class="main-slider__container swiper-container">
        <!-- Additional required wrapper -->
        <div class="main-slider__wrapper swiper-wrapper">
            <!-- Slides -->
            <div class="main-slider__slide swiper-slide activated introduce"
                 style="background-image: url(img/main/first-main-slide-bg.jpg)">
                <div class="container">
                    <h4 class="main-slider__slide-name">знакомство</h4>
                    <div class="introduce__text-block">
                        <h4 class="introduce__welcome">Добро пожаловать в Larson</h4>
                        <h1 class="introduce__title">
                            <span class="introduce__title--first">Студия</span>
                            <span class="introduce__title--orange introduce__title--second title--orange">Интерьера</span>
                            <span class="introduce__title--third">Larson</span>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="main-slider__slide swiper-slide services swiper-slide--dark">
                <div class="container">
                    <h4 class="main-slider__slide-name">услуги</h4>
                    <div class="services__inner">
                        <div class="services__experience">
                            <div class="services__count">
                                <span class="services__count-number">0</span>
                                <span class="services__count-plus">+</span>
                            </div>
                            <div class="services__experience-text">
                                <span>лет</span><span>опыт</span><span>работы</span>
                            </div>
                        </div>
                        <div class="services__services-block">
                            <h2 class="services__title">Мы используем
                                <span class="services__title--orange title--orange">лучший</span>
                                дизайн
                            </h2>
                            <div class="services__items">
                                <div class="services__item">
                                    <h3 class="services__item-title">Архитектура</h3>
                                    <p class="services__item-text">Начиная с 2009 года мы профессионально
                                        занимаемся архитектурным проектированием жилых и общественных зданий.
                                    </p>
                                    <a class="services__item-more" href="#">
                                        <span class="services__item-link">Узнать больше </span>
                                    </a>
                                </div>
                                <div class="services__item">
                                    <h3 class="services__item-title">Интерьер</h3>
                                    <p class="services__item-text">С помощью интерьера помещений мы обеспечим удобство
                                        и эстетическое удовольствие от пребывания в вашем доме.
                                    </p>
                                    <a class="services__item-more" href="#">
                                        <span class="services__item-link">Узнать больше </span>
                                    </a>
                                </div>
                                <div class="services__item">
                                    <h3 class="services__item-title">Ландшафтный дизайн</h3>
                                    <p class="services__item-text">
                                        Мы поможем вам организовать устройство придомовой
                                        территории по вашему вкусу, придадим индивидуальный характер вашему
                                        дому, который будет создавать вам настроение каждый день.

                                    </p>
                                    <a class="services__item-more" href="#">
                                        <span class="services__item-link">Узнать больше </span>
                                    </a>
                                </div>
                                <div class="services__item">
                                    <h3 class="services__item-title">Строительство</h3>
                                    <p class="services__item-text">Вы можете заказать у нас постройку дома под ключ
                                        или воспользоваться только услугами профессиональных строителей по вашим
                                        проектам.
                                    </p>
                                    <a class="services__item-more" href="#">
                                        <span class="services__item-link">Узнать больше </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-slider__slide swiper-slide works">
                <!-- Slider main container -->
                <div class="inner-slider__container swiper-container">
                    <!-- Additional required wrapper -->
                    <h4 class="main-slider__slide-name slide-name--without-container">проекты</h4>
                    <h3 class="main-slider__featured-works main-slider__title">Наши работы</h3>
                    <div class="inner-slider__wrapper swiper-wrapper">
                        <!-- Slides -->
                        <div class="inner-slider__slide swiper-slide"
                             style="background-image: url(img/main/works/slide-1.jpg)">
                            <div class="inner-slider__slide-inner">
                                <div class="inner-slider__slide-text">
                                    <h2 class="inner-slider__slide-title">Загородный <span>Интерьер</span></h2>
                                    <p class="inner-slider__slide-description">Проект для загородных домов с открытой
                                        территорией.
                                        Сочетает в себе открытый кантри стиль с соверменным нью-модерном.
                                    </p>
                                    <a class="inner-slider__slide-link link" href="#">проект</a>

                                </div>
                            </div>
                        </div>
                        <div class="inner-slider__slide swiper-slide"
                             style="background-image: url(img/main/works/slide-2.jpg)">
                            <div class="inner-slider__slide-inner">
                                <div class="inner-slider__slide-text">
                                    <h2 class="inner-slider__slide-title">Американский<span>Стиль</span></h2>
                                    <p class="inner-slider__slide-description">Проект жилого дома в классическом
                                        западном стиле.
                                        Сочетает в себе комфорт и уют, а так же личное пространство для каждого члена
                                        большой семьи.

                                    </p>
                                    <a class="inner-slider__slide-link link" href="#">проект</a>

                                </div>
                            </div>
                        </div>
                        <div class="inner-slider__slide swiper-slide"
                             style="background-image: url(img/main/works/slide-3.jpg)">
                            <div class="inner-slider__slide-inner">
                                <div class="inner-slider__slide-text">
                                    <h2 class="inner-slider__slide-title">Современный <span>Минимализм</span></h2>
                                    <p class="inner-slider__slide-description">Проект внутреннего дизайна жилого
                                        помещения
                                        основанный на концепции "ничего лишнего".
                                    </p>
                                    <a class="works-slider__slide-link link" href="#">проект</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>

            <div class="main-slider__slide swiper-slide swiper-slide--dark testimonials">
                <div class="container">
                    <h4 class="main-slider__slide-name">о нас</h4>
                    <div class="testimonials__inner">
                        <h3 class="testimonials__title">Отзывы</h3>
                        <!-- Slider main container -->
                        <div class="testimonials-slider__container swiper-container">
                            <!-- Additional required wrapper -->
                            <div class="testimonials-slider__wrapper swiper-wrapper">
                                <!-- Slides -->
                                <div class="testimonials-slider__slide swiper-slide">
                                    <img src="img/main/testimonials/avatar-1.jpg" alt="avatar" class="testimonials-slider__slide-avatar">
                                    <div class="testimonials-slider__slide-quotes">”</div>
                                    <h4 class="testimonials-slider__slide-username">Владимир</h4>
                                    <p class="testimonials-slider__slide-profession">
                                        Дизайнер в <a class="testimonials-slider__slide-link" href="#">vk.com</a>
                                    </p>
                                    <p class="testimonials-slider__slide-text">Projects for many large domestic and
                                        foreign corporations, enterprises in many elds such as nance, banking, F&B,
                                        education, communication.
                                    </p>
                                </div>
                                <div class="testimonials-slider__slide swiper-slide">
                                    <img src="img/main/testimonials/avatar-1.jpg" alt="avatar" class="testimonials-slider__slide-avatar">
                                    <div class="testimonials-slider__slide-quotes">”</div>
                                    <h4 class="testimonials-slider__slide-username">Владимир</h4>
                                    <p class="testimonials-slider__slide-profession">
                                        Дизайнер в <a class="testimonials-slider__slide-link" href="#">vk.com</a>
                                    </p>
                                    <p class="testimonials-slider__slide-text">Projects for many large domestic and
                                        foreign corporations, enterprises in many elds such as nance, banking, F&B,
                                        education, communication.
                                    </p>
                                </div>
                                <div class="testimonials-slider__slide swiper-slide">
                                    <img src="img/main/testimonials/avatar-1.jpg" alt="avatar" class="testimonials-slider__slide-avatar">
                                    <div class="testimonials-slider__slide-quotes">”</div>
                                    <h4 class="testimonials-slider__slide-username">Владимир</h4>
                                    <p class="testimonials-slider__slide-profession">
                                        Дизайнер в <a class="testimonials-slider__slide-link" href="#">vk.com</a>
                                    </p>
                                    <p class="testimonials-slider__slide-text">Projects for many large domestic and
                                        foreign corporations, enterprises in many elds such as nance, banking, F&B,
                                        education, communication.
                                    </p>
                                </div>
                                <div class="testimonials-slider__slide swiper-slide">
                                    <img src="img/main/testimonials/avatar-1.jpg" alt="avatar" class="testimonials-slider__slide-avatar">
                                    <div class="testimonials-slider__slide-quotes">”</div>
                                    <h4 class="testimonials-slider__slide-username">Владимир</h4>
                                    <p class="testimonials-slider__slide-profession">
                                        Дизайнер в <a class="testimonials-slider__slide-link" href="#">vk.com</a>
                                    </p>
                                    <p class="testimonials-slider__slide-text">Projects for many large domestic and
                                        foreign corporations, enterprises in many elds such as nance, banking, F&B,
                                        education, communication.
                                    </p>
                                </div>
                                <div class="testimonials-slider__slide swiper-slide">
                                    <img src="img/main/testimonials/avatar-1.jpg" alt="avatar" class="testimonials-slider__slide-avatar">
                                    <div class="testimonials-slider__slide-quotes">”</div>
                                    <h4 class="testimonials-slider__slide-username">Владимир</h4>
                                    <p class="testimonials-slider__slide-profession">
                                        Дизайнер в <a class="testimonials-slider__slide-link" href="#">vk.com</a>
                                    </p>
                                    <p class="testimonials-slider__slide-text">Projects for many large domestic and
                                        foreign corporations, enterprises in many elds such as nance, banking, F&B,
                                        education, communication.
                                    </p>
                                </div>
                                <div class="testimonials-slider__slide swiper-slide">
                                    <img src="img/main/testimonials/avatar-1.jpg" alt="avatar" class="testimonials-slider__slide-avatar">
                                    <div class="testimonials-slider__slide-quotes">”</div>
                                    <h4 class="testimonials-slider__slide-username">Владимир</h4>
                                    <p class="testimonials-slider__slide-profession">
                                        Дизайнер в <a class="testimonials-slider__slide-link" href="#">vk.com</a>
                                    </p>
                                    <p class="testimonials-slider__slide-text">Projects for many large domestic and
                                        foreign corporations, enterprises in many elds such as nance, banking, F&B,
                                        education, communication.
                                    </p>
                                </div>
                            </div>
                            <!-- If we need pagination -->
                            <div class="testimonials-slider__pagination"></div>
                        </div>
                        <div class="testimonials__clients">
                            <img src="img/main/testimonials/client-1.png" alt="client" class="testimonials__client">
                            <img src="img/main/testimonials/client-2.png" alt="client" class="testimonials__client">
                            <img src="img/main/testimonials/client-3.png" alt="client" class="testimonials__client">
                            <img src="img/main/testimonials/client-4.png" alt="client" class="testimonials__client">
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-slider__slide swiper-slide team">
                <div class="inner-slider__container swiper-container">
                    <!-- Additional required wrapper -->
                    <h4 class="main-slider__slide-name slide-name--without-container">Команда</h4>
                    <h3 class="main-slider__team main-slider__title">Лучшая команда</h3>
                    <div class="inner-slider__wrapper swiper-wrapper">
                        <!-- Slides -->
                        <div class="inner-slider__slide swiper-slide"
                             style="background-image: url(img/main/team/team-1.jpg)">
                            <div class="inner-slider__slide-inner">
                                <div class="inner-slider__slide-text">
                                    <h2 class="inner-slider__slide-title team__name">Алексей <span>/дизайнер</span></h2>
                                    <p class="inner-slider__slide-description">Алексей Ковалёв - наш дизайнер внутренней
                                        отделки жилых помещений. Работает в компании более 6 лет. Имеет репутацию надежного сотрудника
                                        и приятного человека!
                                    </p>
                                    <a class="inner-slider__slide-link link" href="#">проект</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="main-slider__pagination swiper-pagination">

        </div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>
</main>
<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<script src="js/main.min.js"></script>
</body>
</html>