<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
@@include("_header.html")
<!-- Slider main container -->
<main class="main">
    <div class="main-slider__container swiper-container">
        <!-- Additional required wrapper -->
        <div class="main-slider__wrapper swiper-wrapper">
            <!-- Slides -->
            <div class="main-slider__slide swiper-slide activated introduce"
                 style="background-image: url(img/main/first-main-slide-bg.jpg)">
                <div class="container">
                    <h4 class="main-slider__slide-name">знакомство</h4>
                    <div class="introduce__text-block">
                        <h4 class="introduce__welcome">Добро пожаловать в Larson</h4>
                        <h1 class="introduce__title">
                            <span class="introduce__title--first">Студия</span>
                            <span class="introduce__title--orange introduce__title--second title--orange">Интерьера</span>
                            <span class="introduce__title--third">Larson</span>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="main-slider__slide swiper-slide services">
                <div class="container">
                    <h4 class="main-slider__slide-name">услуги</h4>
                    <div class="services__inner">
                        <div class="services__experience">
                            <div class="services__count">
                                <span class="services__count-number">0</span>
                                <span class="services__count-plus">+</span>
                            </div>
                            <div class="services__experience-text">
                                <span>лет</span><span>опыт</span><span>работы</span>
                            </div>
                        </div>
                        <div class="services__services-block">
                            <h2 class="services__title">Мы используем
                                <span class="services__title--orange title--orange">лучший</span>
                                дизайн
                            </h2>
                            <div class="services__items">
                                <div class="services__item">
                                    <h3 class="services__item-title">Архитектура</h3>
                                    <div class="services__item-text">Founded in 2007, Sparch is specializing in
                                        providing innovative services such as websit Founded in 2007.
                                    </div>
                                    <a class="services__item-more" href="#">Узнать больше</a>
                                </div>
                                <div class="services__item">
                                    <h3 class="services__item-title">Архитектура</h3>
                                    <div class="services__item-text">Founded in 2007, Sparch is specializing in
                                        providing innovative services such as websit Founded in 2007.
                                    </div>
                                    <a class="services__item-more" href="#">Узнать больше</a>
                                </div>
                                <div class="services__item">
                                    <h3 class="services__item-title">Архитектура</h3>
                                    <div class="services__item-text">Founded in 2007, Sparch is specializing in
                                        providing innovative services such as websit Founded in 2007.
                                    </div>
                                    <a class="services__item-more" href="#">Узнать больше</a>
                                </div>
                                <div class="services__item">
                                    <h3 class="services__item-title">Архитектура</h3>
                                    <div class="services__item-text">Founded in 2007, Sparch is specializing in
                                        providing innovative services such as websit Founded in 2007.
                                    </div>
                                    <a class="services__item-more" href="#">Узнать больше</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-slider__slide swiper-slide"
                 style="background-image: url(img/main/first-main-slide-bg.jpg)">
                slide 2
            </div>

            <div class="main-slider__slide swiper-slide">Slide 3
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="main-slider__pagination swiper-pagination">

        </div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>
</main>
<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<script src="js/main.min.js"></script>
</body>
</html>