<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Larson</title>
    <link rel="SHORTCUT ICON" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
<div class="wrapper">
    <div class="content">
        @@include("_header.html")
        <section class="news-detail__head">
            <div class="container">
                <div class="news-detail__head-img"
                     style="background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(255,255,255,0)) ,url(img/news/news-6.jpg)">
                    <div class="inner-container news-detail__head-container">
                        <h5 class="news-detail__head-subtitle">
                            Интерьер
                        </h5>
                        <h1 class="news-detail__head-title">
                            Уютная
                            <span class="news-detail__head-title--yellow">Скандинавия</span>
                        </h1>
                    </div>
                </div>
            </div>
        </section>
        <main class="news-detail">
            <div class="inner-container">
                <div class="news-detail__inner-container">
                    <h6 class="news-detail__published">03 мая 2021</h6>
                    <h2 class="news-detail__title title">"Уютная скандинавия" - наш новый проект для застройщиков</h2>
                    <p class="news-detail__text">
                        Величественная красота северной природы с зеркальными поверхностями озёр, каменистыми склонами,
                        вечнозелёными лесами, а также суровый климат, заставляющий жить в постоянной готовности к борьбе
                        со стихией, во многом определили характер скандинавского архитектурного направления.
                    </p>
                    <p class="news-detail__text">Скандинавский стиль в архитектуре далёк от высоких технологий и
                        художественно-декоративных инноваций. Это скорее скромный, лишенный бессмысленного пафоса,
                        довольно сдержанный, но при этом, весьма элегантный и уютный вариант оформления жилища.
                    </p>
                </div>
                <img src="img/news/news-detail/news-detail-1.jpg" alt="" class="news-detail__img--first">
                <div class="news-detail__inner-container">
                    <h3 class="news-detail__subtitle">Подойдет для всех</h3>
                    <p class="news-detail__text">
                        Для наших серийных проектов мы учитываем разнообразие пожеланий клиентов. Мы стремимся создать
                        универсальный дизайн и архитектуру
                        которые устроят каждого.
                    </p>
                    <p class="news-detail__text">
                        Мы имеем несколько проектов для застройщиков загородных домов, но этот первый в классическом
                        скандинавском стиле.
                        Гармоничное сочетание эстетичности и функциональности - определяющая черта скандинавского стиля,
                        которую, как мы считаем,
                        нам удалось реализовать полностью.
                    </p>
                    <div class="news-detail__quote">
                        <p class="news-detail__quote-text">"Уютная скандинавия" по праву считается этолоном
                        современного дизайна, поселки в этом стиле выглядят просто великолепно!</p>
                        <h6 class="news-detail__author">Владимир Семыкин</h6>
                        <h6 class="news-detail__author-profession">Исполнительный директор Forvard</h6>
                    </div>
                </div>
                <div class="news-detail__images">
                    <img src="img/news/news-detail/news-detail-2.jpg" alt="" class="news-detail__img--second">
                    <img src="img/news/news-detail/news-detail-3.jpg" alt="" class="news-detail__img--third">
                    <img src="img/news/news-detail/news-detail-4.jpg" alt="" class="news-detail__img--fourth">
                </div>
                <div class="news-detail__inner-container">
                    <h3 class="news-detail__subtitle">Частным клиентам</h3>
                    <p class="news-detail__text">
                        Мы работаем для людей! Неважно сами вы возведете дом по этому проекту или купите готовый, вы
                        получите качественный , современный и уютный дом.
                        Если вы хотите возвести "Уютную скандинавию" у себя на участке, то мы с легкостью
                        возьмемся выполнить проект под ключ.
                    </p>
                    <p class="news-detail__text">Немаловажно, что готовый архитектурный проект сэкономит вам время и
                        деньги. И не стоит забывать, что вы можете обратиться к нашим архитекторам и внести какие-то
                        корректировки по своему желанию.</p>
                </div>
            </div>
            <div class="container">
                <section class="news-detail__related">
                    <div class="inner-container">
                        <div class="news-detail__inner-container">
                            <div class="news-detail__related-head">
                                <h2 class="news-detail__related-title title">Другие новости</h2>
                                <a href="news.html" class="news-detail__related-more news__more">Все новости</a>
                            </div>
                        </div>

                        <div class="news-detail__related-items">
                            <div class="news-detail__related-item related-item"
                                 style="background-image: url(img/news/news-4.jpg)">
                                <div class="news-page__info related-item__info">
                                    <p class="news-page__date related-item__date">7 апреля 2021</p>
                                    <h3 class="news-page__info-title related-item__title">Выставка в токио</h3>
                                    <p class="news-page__text related-item__text">Выставка современного искусства и
                                        дизайна в Токио</p>
                                    <a class="news__item-link news-page__item-link related-item__link"
                                       href="news-detail.html">Узнать
                                        больше</a>
                                </div>
                            </div>
                            <div class="news-detail__related-item related-item"
                                 style="background-image: url(img/news/news-3.jpg)">
                                <div class="news-page__info related-item__info">
                                    <p class="news-page__date related-item__date">19 марта 2021</p>
                                    <h3 class="news-page__info-title related-item__title">Нью-Йорк</h3>
                                    <p class="news-page__text related-item__text">Отличительные особенности архитектуры
                                        и дизайна в
                                        современном
                                        Нью-Йорке.</p>
                                    <a class="news__item-link news-page__item-link related-item__link"
                                       href="news-detail.html">Узнать
                                        больше</a>
                                </div>
                            </div>
                            <div class="news-detail__related-item related-item"
                                 style="background-image: url(img/news/news-2.jpg)">
                                <div class="news-page__info related-item__info">
                                    <p class="news-page__date related-item__date">1 марта 2021</p>
                                    <h3 class="news-page__info-title related-item__title">Среднеземноморский стиль</h3>
                                    <p class="news-page__text related-item__text">Некогда самый популярный стиль в
                                        архитектуре и дизайне снова набирает популярность, что мы о нем знаем
                                        и в чем особенности современного стиля.</p>
                                    <a class="news__item-link news-page__item-link related-item__link"
                                       href="news-detail.html">Узнать
                                        больше</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>

    </div>
    @@include("_footer.html")
</div>
<script src="js/main.min.js"></script>
<script src="js/news.js"></script>
</body>
</html>