<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Larson</title>
    <link rel="SHORTCUT ICON" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
<div class="wrapper">
    <div class="content">
        @@include("_header.html")
        <section class="news-detail__head">
            <div class="container">
                <div class="news-detail__head-img"
                     style="background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(255,255,255,0)) ,url(img/news/news-6.jpg)">
                    <div class="inner-container news-detail__head-container">
                        <h5 class="news-detail__head-subtitle">
                            Интерьер
                        </h5>
                        <h1 class="news-detail__head-title">
                            Уютная
                            <span class="news-detail__head-title--yellow">Скандинавия</span>
                        </h1>
                    </div>
                </div>
            </div>
        </section>
        <main class="news-detail">
            <div class="inner-container">
                <div class="news-detail__inner-container">
                    <h6 class="news-detail__published">03 мая 2021</h6>
                    <h2 class="news-detail__title title">To mark the first UK show of artist Henri Barande, graphic
                        designer
                        Paul</h2>
                    <p class="news-detail__text">This response is important for our ability to learn from mistakes, but
                        it
                        alsogives rise to self-criticism, because it is part of the threat-protection system. In other
                        words,
                        what keeps us safe can go too far, and keep us too safe. In fact it can trigger self-censoring.
                    </p>
                    <p class="news-detail__text">One touch of a red-hot stove is usually all we need to avoid that kind
                        of
                        discomfort in the future. The same is true as we experience the emotional sensation of stress
                        from
                        our
                        first instances of social rejection or ridicule. We quickly learn to fear and thus automatically
                        avoid
                        potentially stressful situations of all kinds, including the most common of all:
                    </p>
                </div>
                <img src="img/news/news-detail/news-detail-1.jpg" alt="" class="news-detail__img--first">
                <div class="news-detail__inner-container">
                    <h3 class="news-detail__subtitle">Methods for everyone</h3>
                    <p class="news-detail__text">Everything along the way, to and from, fascinated her: every pebble,
                        ant,
                        stick, leaf, blade of grass, and crack in the sidewalk was something to be picked up, looked at,
                        tasted,
                        smelled, and shaken. Everything was interesting to her. She knew nothing. I knew everything…been
                        there,
                        done that. She was in the moment, I was in the past. She was mindful. I was mindless.</p>
                    <p class="news-detail__text">Everything along the way, to and from, fascinated her: every pebble,
                        ant,
                        stick, leaf, blade of grass, and crack in the sidewalk was something to be picked up, looked at,
                        tasted,
                        smelled, and shaken. Everything was interesting to her. She knew nothing. I knew everything…been
                        there,
                        done that. She was in the moment, I was in the past. She was mindful. I was mindless.</p>
                    <div class="news-detail__quote">
                        <p class="news-detail__quote-text">Our greatest weakness lies in giving up. The most certain way
                            to
                            succeed is always to try just one more time. emotional sensation of stress from our firs</p>
                        <h6 class="news-detail__author">Paul Oaul</h6>
                        <h6 class="news-detail__author-profession">POVAR</h6>
                    </div>
                </div>
                <div class="news-detail__images">
                    <img src="img/news/news-detail/news-detail-2.jpg" alt="" class="news-detail__img--second">
                    <img src="img/news/news-detail/news-detail-3.jpg" alt="" class="news-detail__img--third">
                    <img src="img/news/news-detail/news-detail-4.jpg" alt="" class="news-detail__img--fourth">
                </div>
                <div class="news-detail__inner-container">
                    <h3 class="news-detail__subtitle">Challenge</h3>
                    <p class="news-detail__text">Everything along the way, to and from, fascinated her: every pebble,
                        ant,
                        stick, leaf, blade of grass, and crack in the sidewalk was something to be picked up, looked at,
                        tasted,
                        smelled, and shaken. Everything was interesting to her. She knew nothing. I knew everything…been
                        there,
                        done that. She was in the moment, I was in the past. She was mindful. I was mindless.
                    </p>
                    <p class="news-detail__text">One touch of a red-hot stove is usually all we need to avoid that kind
                        of
                        discomfort in the future. The same is true as we experience the emotional sensation of stress
                        from
                        our
                        first instances of social rejection or ridicule. We quickly learn to fear and thus automatically
                        avoid
                        potentially stressful situations of all kinds, including the most common of all: making
                        mistakes.</p>
                </div>
            </div>
            <div class="container">
                <section class="news-detail__related">
                    <div class="inner-container">
                        <div class="news-detail__related-head">
                            <h2 class="news-detail__related-title title">Related posts</h2>
                            <a href="news.html" class="news-detail__related-more news__more">Все новости</a>
                        </div>
                    </div>
                    <div class="news-detail__related-items">
                        <div class="news-detail__related-item">
                            <div class="news-page__info">
                                <p class="news-page__date">19 марта 2021</p>
                                <h3 class="news-page__info-title">Нью-Йорк</h3>
                                <p class="news-page__text">Отличительные особенности архитектуры и дизайна в
                                    современном
                                    Нью-Йорке.</p>
                                <a class="news__item-link news-page__item-link" href="news-detail.html">Узнать
                                    больше</a>
                            </div>
                        </div>
                        <div class="news-detail__related-item">
                            <div class="news-page__info">
                                <p class="news-page__date">19 марта 2021</p>
                                <h3 class="news-page__info-title">Нью-Йорк</h3>
                                <p class="news-page__text">Отличительные особенности архитектуры и дизайна в
                                    современном
                                    Нью-Йорке.</p>
                                <a class="news__item-link news-page__item-link" href="news-detail.html">Узнать
                                    больше</a>
                            </div>
                        </div>
                        <div class="news-detail__related-item">
                            <div class="news-page__info">
                                <p class="news-page__date">19 марта 2021</p>
                                <h3 class="news-page__info-title">Нью-Йорк</h3>
                                <p class="news-page__text">Отличительные особенности архитектуры и дизайна в
                                    современном
                                    Нью-Йорке.</p>
                                <a class="news__item-link news-page__item-link" href="news-detail.html">Узнать
                                    больше</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>

    </div>
    @@include("_footer.html")
</div>
<script src="js/main.min.js"></script>
<script src="js/news.js"></script>
<script src="js/news-detail.js"></script>
</body>
</html>