<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Larson</title>
    <link rel="SHORTCUT ICON" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
<div class="wrapper">
    <div class="content">
        @@include("_header.html")
        <section class="news-page">
            <div class="inner-container">
                <h1 class="news-page__title title">Новости</h1>
                <ul class="news-page__items">
                    <li class="news-page__item" style="background-image: url(img/news/news-6.jpg)">
                        <div class="news-page__info">
                            <p class="news-page__date">03 мая 2021</p>
                            <h3 class="news-page__info-title">Модель дома</h3>
                            <p class="news-page__text">Наша новая модель современного дома для застройщиков и частных клиентов под заказ.</p>
                            <a class="news__item-link news-page__item-link" href="#">Узнать больше</a>
                        </div>
                    </li>
                    <li class="news-page__item" style="background-image: url(img/news/news-1.jpg)">
                        <div class="news-page__info">
                            <p class="news-page__date">20 апреля 2021</p>
                            <h3 class="news-page__info-title">Стоунхендж</h3>
                            <p class="news-page__text">Свежий взгляд фотографа-архитектора на архитектуру одного
                            из самых известных культовых сооружений в мире</p>
                            <a class="news__item-link news-page__item-link" href="#">Узнать больше</a>
                        </div>
                    </li>
                    <li class="news-page__item" style="background-image: url(img/news/news-4.jpg)">
                        <div class="news-page__info">
                            <p class="news-page__date">7 апреля 2021</p>
                            <h3 class="news-page__info-title">Выставка в токио</h3>
                            <p class="news-page__text">Выставка современного искусства и дизайна в Токио</p>
                            <a class="news__item-link news-page__item-link" href="#">Узнать больше</a>
                        </div>
                    </li>
                    <li class="news-page__item" style="background-image: url(img/news/news-5.jpg)">
                        <div class="news-page__info">
                            <p class="news-page__date">5 апреля 2021</p>
                            <h3 class="news-page__info-title">Дизайн интерьера</h3>
                            <p class="news-page__text">Наш дизайнер Елена Савченко расскажет вам тонкости и особенности
                            дизайна интерьера, которые позволят вам без затрат освежить атмосферу помещения.</p>
                            <a class="news__item-link news-page__item-link" href="#">Узнать больше</a>
                        </div>
                    </li>
                    <li class="news-page__item" style="background-image: url(img/news/news-3.jpg)">
                        <div class="news-page__info">
                            <p class="news-page__date">19 марта 2021</p>
                            <h3 class="news-page__info-title">Нью-Йорк</h3>
                            <p class="news-page__text">Отличительные особенности архитектуры и дизайна в современном Нью-Йорке.</p>
                            <a class="news__item-link news-page__item-link" href="#">Узнать больше</a>
                        </div>
                    </li>
                    <li class="news-page__item" style="background-image: url(img/news/news-2.jpg)">
                        <div class="news-page__info">
                            <p class="news-page__date">1 марта 2021</p>
                            <h3 class="news-page__info-title">Среднеземноморский стиль</h3>
                            <p class="news-page__text">Некогда самый популярный стиль в архитектуре и дизайне снова набирает популярность, что мы о нем знаем
                            и в чем особенности современного стиля.</p>
                            <a class="news__item-link news-page__item-link" href="#">Узнать больше</a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    @@include("_footer.html")
</div>
<script src="js/main.min.js"></script>
</body>
</html>